body {
    background-color: #e9cf38;
    margin: 0;
    padding: 0;
}

.title {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#vis {
    margin-top: 200px;
    margin-left: 100px;
}